html {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: #212529;
}
a {
  text-decoration: none;
}
#logo {
  height: 40px;
}
.navbar {
  transition: top 0.5s ease;
}
.navbar-dark .navbar-nav .nav-item .nav-link:focus,
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #7510F7;
}
.project-tile:hover {
  opacity: .8;
}
#welcome-section {
  height: 100vh;
  background-image: linear-gradient(45deg, #7510F7, #d0a);
  transform: skewY(-10deg);
}
#projects {
  padding: 20vh 0px;
}
#writing {
  height: 100vh;
  background-image: linear-gradient(45deg, #7510F7, #d0a);
  transform: skewY(-10deg);
  color: white;
}
#contact {
  height: 100vh;
}
#content {
  transform: skewY(10deg);
}
.bg {
  align-items: center;
}
.fa {
  font-size: 2rem;
  color: white;
}
.fa-github:hover {
  color: #777;
}
.fa-linkedin:hover {
  color: #0073B0;
}
.fa-envelope-o:hover {
  color: #ea4335;
}
.source-link {
  color: white;
}
.description {
  color: white;
}
.margins {
  width: 1320px;
  margin: auto;
}
@media screen and (max-width: 1320px) {
  .margins {
    width: auto;
  }
}