:root {
  --primary: hsl(266, 94%, 52%);
  --background: hsl(210, 11%, 15%);
}
html {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: var(--background);
}
a {
  text-decoration: none;
}
#logo {
  height: 40px;
}
.navbar {
  transition: top 0.5s ease;
}
.navbar-dark .navbar-nav .nav-item .nav-link:focus,
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary);
}
.project-tile:hover {
  opacity: .8;
}
#welcome-section {
  height: 100vh;
  background-image: linear-gradient(45deg, var(--primary), hsl(314, 100%, 43%));
  transform: skewY(-10deg);
}
#projects {
  padding: 20vh 0px;
}
#writing {
  height: 100vh;
  background-image: linear-gradient(45deg, var(--primary), hsl(314, 100%, 43%));
  transform: skewY(-10deg);
  color: white;
}
#contact {
  height: 100vh;
}
#content {
  transform: skewY(10deg);
}
.bg {
  align-items: center;
}
.fa {
  font-size: 2rem;
  color: white;
}
.fa-github:hover {
  color: hsl(0, 0%, 47%);
}
.fa-linkedin:hover {
  color: hsl(201, 100%, 35%);
}
.fa-envelope-o:hover {
  color: hsl(5, 81%, 56%);
}
.source-link {
  color: white;
}
.description {
  color: white;
}
.margins {
  width: 1320px;
  margin: auto;
}
@media screen and (max-width: 1320px) {
  .margins {
    width: auto;
  }
}