* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
/* 980px / 16px = 61.25em */
@media screen and (max-width: 61.25em), screen and (max-device-width: 61.25em){

  #projects {
    height: 250vh;
  }
  #projectshead {
    padding-bottom: 1em;
  }
}
nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #404448;
  width: 100%;
}
figcaption {
  text-align: center;
  color: #FFF;
}
.nav-list {
  display: flex;
  margin-right: 1rem;
}
.nav-list a {
  display: block;
  padding: 1rem;
  color: #FFF;
}
.nav-list a:hover {
  color: #CCC;
}
.thumbnail {
  width: 25rem;
  padding: .25rem;
}
.project-tile {
  background-color: #404448;
  padding: .25rem .25rem 1.25rem .25rem;
  margin: .25rem;
}
.project-tile:hover {
  background-color: #777
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #000;
  text-align: center;
}
p {
  text-align: center;
}
#welcome-section {
  background-color: #FFF;
}
#projects {
  background-color: #0073B0;
}
#contact {
  background-color: #FFF;
}
#thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.fa {
  padding: 2rem;
  font-size: 2rem;
  color: #000;
}
.fa-github:hover {
  color: #777;
}
.fa-linkedin:hover {
  color: #0073B0;
}
.fa-twitter:hover {
  color: #1A91DA;
}
#email a:hover {
  color: #0073B0;
}
